
.page-preloader {
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #224160;
  }
  .preloader-logo,
  .preloader-preview-area {
    top: 50%;
  }
  .preloader-logo {
    max-width: 90%;
    transform: translateY(-500%) ;
    margin: 10px auto 0 ;
    position: relative;
    animation: moveUp 7s ease;
  }
    @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-600px);
    }
  }